

#p1{ text-align: center;
	 color: #999966;


}


#nkar{

	
}

#p6{
	 color: #999966;
	 font-style: italic;

}
a:hover {font-size: 150%;
  		 
  		 color: #d6d6c2;	
}

div.my_list {
   				 list-style-type: circle;
    			 font-style: italic;
}

